<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            background-color: gray;
        }
    </style>
</head>
<body>
    <h1>RECIPES {{ name}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
        Cum fugiat optio, fuga nisi similique reiciendis a ab quia <br>
        ducimus nemo soluta suscipit labore qui vero debitis cupiditate laudantium modi eligendi?
    </p>

</body>
</html>